<h2>Oficina Virtual - Municipalidad de Sacanta</h2>

<p>¡Hola vecino!</p>
<p>Bienvenido a la Oficina Virtual de la Municipalidad de Sacanta. Un espacio virtual donde usted podrá generar todos los trámites que podría hacer en su Municipio pero de forma virtual y en la comodidad de su casa.</p>
<p>Por favor, inicie sesión con CIDI para acceder a su perfil.</p>
<br>
<br>
<button>Iniciar sesión</button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3>Redes sociales</h3>
<p>Instagram: @muni_sacanta</p>
<p>Twiter: @muni_sacanta</p>
<p>TikTok: @muni_sacanta</p>
<br>
<br>